# Expose the service via gateway-api HTTPRoute
# Requires Gateway API resources and suitable controller installed within the cluster
# (see: https://gateway-api.sigs.k8s.io/guides/)
httpRoute:
  # HTTPRoute enabled.
  enabled: true
  # HTTPRoute annotations.
  annotations: {}
  # Which Gateways this Route is attached to.
  parentRefs:
  - name: internal
    sectionName: https
    namespace: infrastructure
  - name: external
    sectionName: https
    namespace: infrastructure
  # Hostnames matching HTTP header.
  hostnames:
  - paperless.cloud.theoraime.com
  # List of rules and filters applied.
  # rules

# Configuration related to the paperless container
# All theses settings are automatically set as env variables in upper snake case
# ie. paperlessUrl will be appended as PAPERLESS_URL
# Set theses settings here so they are mounted in a configMap
# To reference configMap or Secrets as env, see "env:"
# See https://docs.paperless-ngx.com/configuration
config:
  paperlessUrl: https://paperless.cloud.theoraime.com
  granianPort: 8000
  # Oauth and SSO config
  paperlessApps: allauth.socialaccount.providers.openid_connect
  paperlessSocialAllowSignup: true
  paperlessSocialAutoSignup: true
  paperlessSocialAccountSyncGroups: true
  paperlessDisableRegularLogin: true
  paperlessRedirectLoginToSso: false
  # Disable document consumption
  paperlessConsumerDisable: true
  # Disable email fetching
  paperlessEmailTaskCron: disable
  # Set OCR to french
  paperlessOcrLanguage: fra
  # Redis server
  paperlessRedis: redis://valkey:6379

# Data storage configuration
dataStorage:
  # Use existing PVC by name (skip dynamic provisioning if set)
  persistentVolumeClaimName: ""

  # Subpath inside PVC to mount
  subPath: ""

  # Volume name (the name mounted in the container)
  volumeName: "paperless-data"

  # Request size (e.g. 5Gi) for dynamically provisioned volume
  requestedSize: "5Gi"

  # Name of the storage class to use
  className: ""

  # Access modes for the PVC (e.g., ReadWriteOnce, ReadWriteMany)
  accessModes:
    - ReadWriteMany

  # If true, keep the PVC on Helm uninstall
  keepPvc: true

  # Optional annotations to add to the PVC
  annotations: {}

  # Optional labels to add to the PVC
  labels: {}

# Media storage configuration
mediaStorage:
  # Use existing PVC by name (skip dynamic provisioning if set)
  persistentVolumeClaimName: ""

  # Subpath inside PVC to mount
  subPath: ""

  # Volume name (the name mounted in the container)
  volumeName: "paperless-media"

  # Request size (e.g. 5Gi) for dynamically provisioned volume
  requestedSize: "5Gi"

  # Name of the storage class to use
  className: ""

  # Access modes for the PVC (e.g., ReadWriteOnce, ReadWriteMany)
  accessModes:
    - ReadWriteMany

  # If true, keep the PVC on Helm uninstall
  keepPvc: true

  # Optional annotations to add to the PVC
  annotations: {}

  # Optional labels to add to the PVC
  labels: {}

# Put additionnal environment variables into the paperless container
# Can be used to mount variables, configMaps or secrets keys
# See some examples below
env:
  - name: PAPERLESS_DBHOST
    valueFrom:
      secretKeyRef:
        name: paperless-db-app
        key: host
  - name: PAPERLESS_DBPORT
    valueFrom:
      secretKeyRef:
        name: paperless-db-app
        key: port
  - name: PAPERLESS_DBNAME
    valueFrom:
      secretKeyRef:
        name: paperless-db-app
        key: dbname
  - name: PAPERLESS_DBUSER
    valueFrom:
      secretKeyRef:
        name: paperless-db-app
        key: user
  - name: PAPERLESS_DBPASS
    valueFrom:
      secretKeyRef:
        name: paperless-db-app
        key: password

# Put additionnal environment variables into the paperless container
# Can be used to mount whole configMaps or secrets
envFrom:
  - secretRef:
      name: paperless-oauth

# Additional volumes on the output Deployment definition.
volumes: []

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []

nodeSelector: {}

tolerations: []

affinity: {}